body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: #fff5ee;
  background-color: black;
  text-align: center;
  display: block;
}

header {
  position: fixed;
  border-bottom: 1px solid seashell;
  align-items: center;
  width: 100%;
  height: 69px;
  z-index: 1;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  color: seashell;
}

a {
  color: seashell;
}

div {
  display: block;
}

.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.maincontent {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

#mission .content {
  background-color: black;
  width: 100%;
  margin: auto;
}

#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
}
